---
# roles/docker/tasks/main.yml

- name: Check if Docker is already installed
  command: docker --version
  register: docker_check
  ignore_errors: true
  changed_when: false

- name: Docker already installed, skip installation
  debug:
    msg: "Docker already installed on the host. Skipping Docker install."
  when: docker_check.rc == 0

# Install Docker CE only if Docker is NOT installed
- name: Install prerequisites for Docker repository
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - apt-transport-https
    state: present
    update_cache: yes
  when: docker_check.rc != 0

- name: Add Docker official GPG key
  shell: |
    install -m 0755 -d /etc/apt/keyrings
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    chmod a+r /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg
  when: docker_check.rc != 0

- name: Add Docker repository
  shell: |
    CODENAME="$(. /etc/os-release; echo "$VERSION_CODENAME")"
    ARCH="$(dpkg --print-architecture)"
    echo "deb [arch=${ARCH} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu ${CODENAME} stable" \
      > /etc/apt/sources.list.d/docker.list
  args:
    creates: /etc/apt/sources.list.d/docker.list
  when: docker_check.rc != 0

- name: Install Docker CE + plugins
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes
  when: docker_check.rc != 0

- name: Ensure Docker service is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Add jenkins user to docker group
  user:
    name: jenkins
    groups: docker
    append: yes
