---
- name: Ensure keyrings directory exists
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Download Jenkins keyring (ASCII)
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc
    mode: "0644"

- name: Remove any old Jenkins repo entries (avoid Signed-By conflicts)
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/jenkins.list
    - /etc/apt/sources.list.d/jenkins.list.save
    - /etc/apt/sources.list.d/pkg.jenkins.io_debian-stable.list

- name: Add Jenkins apt repo (with signed-by)
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
    state: present
    filename: jenkins
    update_cache: yes

- name: Installer Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes

- name: Ensure Jenkins service is started and enabled
  service:
    name: jenkins
    state: started
    enabled: yes


- name: Ensure Jenkins plugins directory exists
  file:
    path: /var/lib/jenkins/plugins
    state: directory
    owner: jenkins
    group: jenkins
    mode: "0755"
  ignore_errors: yes

- name: Install Java 17 (Ubuntu package)
  apt:
    name: openjdk-17-jre-headless
    state: present
    update_cache: yes

- name: Télécharger Jenkins Plugin CLI
  get_url:
    url: https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/2.12.13/jenkins-plugin-manager-2.12.13.jar
    dest: /opt/jenkins-plugin-manager.jar
    mode: "0644"

- name: Installer les plugins depuis jenkins-plugins.txt
  command: >
    java -jar /opt/jenkins-plugin-manager.jar
    --plugin-file /home/ubuntu/ansible/files/jenkins-plugins.txt
    --plugin-download-directory /var/lib/jenkins/plugins
  notify: Redémarrer Jenkins
   