---
- name: Ajouter la clé GPG Jenkins
  apt_key:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    state: present

- name: Ajouter le dépôt Jenkins
  apt_repository:
    repo: deb https://pkg.jenkins.io/debian-stable binary/
    state: present

- name: Installer Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes

- name: Télécharger Jenkins Plugin CLI
  get_url:
    url: https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/2.12.13/jenkins-plugin-manager-2.12.13.jar
    dest: /opt/jenkins-plugin-manager.jar
    mode: '0644'

- name: Installer les plugins depuis jenkins-plugins.txt
  command: >
    java -jar /opt/jenkins-plugin-manager.jar 
    --plugin-file {{ playbook_dir }}/../files/jenkins-plugins.txt 
    --plugin-download-directory /var/lib/jenkins/plugins
  notify: Redémarrer Jenkins
  ignore_errors: yes # Utile si Jenkins n'a pas encore créé ses dossiers