apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "app.fullname" . }}"
  labels:
    app: "{{ include "app.name" . }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: "{{ include "app.name" . }}"
  template:
    metadata:
      labels:
        app: "{{ include "app.name" . }}"
    spec:
      serviceAccountName: "{{ include "app.fullname" . }}"
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
        - name: flask-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
