apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ include "app.fullname" . }}-netpol"
spec:
  podSelector:
    matchLabels:
      app: "{{ include "app.name" . }}"
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5000